<div class="my-container">
  <div class="seasons-header">
    <%= link_to league_path(@league), class:"league-back-button" do %>
      <i class="fa-solid fa-arrow-rotate-left"></i>
    <% end %>
    <h1>PARIER</h1>
  </div>
  <div class="bet-container">
    <div class="bet-team-1">
      <%= cl_image_tag @match.team_home.photo.key, height: 96, width: 72, crop: :fit %>
      <h3><%= @match.team_home.name.upcase %></h3>
      <h5 class="last-five-matches-title">5 DERNIERS MATCHES</h5>
      <div class="last-five-matches">
        <% @matches_home.each do |match| %>
          <div class="last-five-card">
            <div class="last-five-card-top">
              <%= cl_image_tag Team.find(match.team_home_id).photo.key, height: 24, width: 18, crop: :fit %>
              <h4>-</h4>
              <%= cl_image_tag Team.find(match.team_away_id).photo.key, height: 24, width: 18, crop: :fit %>
            </div>
            <div class="last-five-card-bottom">
              <h4><%= match.result %></h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="last-five-dates">
        <% @matches_home.each do |match| %>
          <div class="last-five-dates-card">
            <div class="last-five-dates-card-bottom">
              <p><%= match.date.day %>/<%= match.date.month %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

      <div class="new-bet-card">
        <%= form_with model: [:match, @bet] do |form| %>
          <%= form.label :prono, 'PRONO', class: "bet-form-title" %>
          <%= form.text_field :prono, class: "bet-form-input" %>
          <%= form.submit "GO", class: "bet-form-submit" %>
        <% end %>
        <p>Entrez votre prono dans le format suivant : "0 2", "1/0", "3-3"...</p>
      </div>

    <div class="bet-team-2">
      <%= cl_image_tag @match.team_away.photo.key, height: 96, width: 72, crop: :fit %>
      <h3><%= @match.team_away.name.upcase %></h3>
      <h5 class="last-five-matches-title">5 DERNIERS MATCHES</h5>
      <div class="last-five-matches">
        <% @matches_away.each do |match| %>
          <div class="last-five-card">
            <div class="last-five-card-top">
              <%= cl_image_tag Team.find(match.team_home_id).photo.key, height: 24, width: 18, crop: :fit %>
              <h4>-</h4>
              <%= cl_image_tag Team.find(match.team_away_id).photo.key, height: 24, width: 18, crop: :fit %>
            </div>
            <div class="last-five-card-bottom">
              <h4><%= match.result %></h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="last-five-dates">
        <% @matches_away.each do |match| %>
          <div class="last-five-dates-card">
            <div class="last-five-dates-card-bottom">
              <p><%= match.date.day %>/<%= match.date.month %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
