<div class="my-container">
  <div class="notifs-container">
    <div class="notifs">
      <% @notifications.each do |notification| %>
        <div class="notification-card">
          <div class="notif-card-content">
            <p><%= notification.content %></p>
          </div>
          <div class="notif-card-time">
            <p><%= notification.created_at.day %>/<%= notification.created_at.month %> à <%= notification.created_at.strftime('%H') %>h<%= notification.created_at.strftime('%M') %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
