<div class="banner">
  <div class="my-container">
    <div class="menu">
      <div class="menu-link">
        <%= link_to seasons_path do %>
          <h2>PARIER</h2>
        <% end %>
      </div>
      <% unless current_user.nil? %>
        <div class="menu-link">
          <%= link_to new_user_invitation_path(current_user) do %>
            <h2>MES STATS</h2>
          <% end %>
        </div>
        <div class="menu-link">
          <%= link_to user_invitations_path(current_user) do %>
            <h2>AMIS</h2>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="home-bottom">
      <div class="home-bottom-left">
        <div class="home-classement">
          <h2>SCORE TOP 20</h2>
          <div class="classement-header">
            <div class="classement-column-1">
              <p>#</p>
            </div>
            <div class="classement-column-2">
              <p>Nom</p>
            </div>
            <div class="classement-column-3">
              <p>Score</p>
            </div>
          </div>
          <div class="classement-users">
            <% @users.each_with_index do |user, index| %>
              <div class="classement-row">
                <div class="classement-column-1">
                  <p><%= index + 1 %></p>
                </div>
                <div class="classement-column-2">
                  <p><%= user.username %></p>
                </div>
                <div class="classement-column-3">
                  <p><%= user.total_score %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="home-bottom-right">
        <div class="home-classement">
          <h2>MOYENNE TOP 20</h2>
          <div class="classement-header">
            <div class="classement-column-1">
              <p>#</p>
            </div>
            <div class="classement-column-2">
              <p>Nom</p>
            </div>
            <div class="classement-column-3">
              <p>Moyenne</p>
            </div>
          </div>
          <div class="classement-users">
            <% @usersmoy.each_with_index do |user, index| %>
              <div class="classement-row">
                <div class="classement-column-1">
                  <p><%= index + 1 %></p>
                </div>
                <div class="classement-column-2">
                  <p><%= user.username %></p>
                </div>
                <div class="classement-column-3">
                  <p><%= (user.total_score.to_f / user.bet_number).round(2) unless user.bet_number.zero? %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
