<div class="chat-container">
  <div class="row chat-box-container">
    <div class="col-md-2 chat-left">
      <h1> Bonjour <%= @current_user.username %> </h1>
      <h4> Amis </h4>
      <div>
        <%= turbo_stream_from "users" %>
        <div id="users">
          <%= render @users %>
        </div>
      </div>
      <%# <h4> Rooms </h4> %>
      <%#= render partial: "layouts/new_room_form" %>
      <%# <div> %>
        <%#= turbo_stream_from "rooms" %>
        <%# <div id="rooms"> %>
          <%#= render @rooms %>
        <%# </div> %>
      <%# </div> %>
    </div>
    <div class="col-md-10 text-light chat-right">
      <% if @single_room %>
        <h4 class="text-center"> <%= @user&.username || @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render partial: 'layouts/new_message_form' %>
      <% end %>
    </div>
  </div>
</div>
